<a href="https://colab.research.google.com/github/Lilian-Wamuhu/Lilian-Wamuhu/blob/main/Pandas_Ex_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Step 1. Import the necessary libraries
import pandas as pd
import numpy as np

In [21]:
#Step 2. Create a data dictionary that looks like the DataFrame below
#evolution	hp	name	pokedex	type
#0	Ivysaur	45	Bulbasaur	yes	grass
#1	Charmeleon	39	Charmander	no	fire
#2	Wartortle	44	Squirtle	yes	water
#3	Metapod	45	Caterpie	no	bug

In [28]:
data_dict = {'evolution': ['Ivysaur','Charmeleon','Wartortle','Metapod'], 
        'hp':[45,39,44,45], 
        'name':['Bulbasaur','Charmander','Squirtle','Caterpie'],
        'pokedex': ['yes','no','yes','no'], 
        'type': ['grass','fire','water','bug']}
data_dict

{'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
 'hp': [45, 39, 44, 45],
 'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
 'pokedex': ['yes', 'no', 'yes', 'no'],
 'type': ['grass', 'fire', 'water', 'bug']}

In [30]:
#Assign it to a variable called pokemon
pokemon = pd.Series(data_dict)
pokemon

evolution      [Ivysaur, Charmeleon, Wartortle, Metapod]
hp                                      [45, 39, 44, 45]
name         [Bulbasaur, Charmander, Squirtle, Caterpie]
pokedex                               [yes, no, yes, no]
type                           [grass, fire, water, bug]
dtype: object

In [35]:
#Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place the order of the columns as name, type, hp, evolution, pokedex
pokemon1 = pd.DataFrame.from_dict(data_dict)
pokemon_df = pokemon1[['name','type','hp','evolution','pokedex']]
pokemon_df

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

In [41]:
#Step 5. Add another column called place, and insert what you have in mind.
place = ['china','nairobi','kenya','nakuru']
pokemon_df ['place']= place
pokemon_df

<ipython-input-41-2637da483250>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon_df ['place']= place

         name   type  hp   evolution pokedex    place
0   Bulbasaur  grass  45     Ivysaur     yes    china
1  Charmander   fire  39  Charmeleon      no  nairobi
2    Squirtle  water  44   Wartortle     yes    kenya
3    Caterpie    bug  45     Metapod      no   nakuru

In [45]:
#Step 6. Present the type of each column
pokemon_df.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

In [ ]:
#